<!DOCTYPE html>
<html lang="fr">
    <head>
        <% include ./components/head.ejs %>
        <title>Mon compte</title>
    </head>
    <body>
        <header>
            <h1>Mon compte</h1>
            <nav>
                <% include ./components/nav.ejs %>
            </nav>
        </header>
        <main>
            <ul>
                    <li><%= userData.name %></li>
                    <li><%= userData.age %></li>
                    <li><%= userData.gender %></li>
                    <li><%= userData.phone %></li>
                    <li><%= userData.address %></li>
            </ul>
            <form method="POST">
                <button type="submit">Déconnexion</button>
            </form>
        </main>
    </body>
    <script>

        let disconnectionForm;

        document.addEventListener('DOMContentLoaded', () => {
            disconnectionForm = document.querySelector('form');
            disconnect();
        });

        const disconnect = () => {
            disconnectionForm.addEventListener('submit', (event) => {
            })
        }
    </script>
</html>